@import './element-ui.scss';
@import './mixin.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

.el-table .success-row {
  background: #D9FFFF;
}

.el-table .err-row {
  background: #FFB5B5;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.filter-container {
  padding: 10px;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.el-table {
  .cell {
    .el-button--small {
      margin: 6px 0;
    }
  }
}

.center {
  text-align: center;
}

// 编辑，查看的样式
.file-uploader {
  .file-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center
  }
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .file {
    width: 100px;
    height: 100px;
    vertical-align: middle;
  }
  .el-upload-list {
    .el-upload-list__item{
      margin-top: -35px;
      height: 100px;
      .el-upload-list__item-status-label {
        display: none;
      }
      &:hover{
        .el-icon-close{
          display: none;
        }
      }
    }
  }
}
.el-form-item{
  .el-icon-close{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    opacity: .75;
    color: #48576a;
    transform: scale(.7);

  }
}
.file-name{
  text-align: center;
  font-size: 12px;
}

.table-tab{
  float: left;
  width: 50%;
  font-size: 14px;
  ul{
    list-style-type: none;
    margin:0;
    padding:0;
    & li {
      display: flex;
      .item{
        border: 1px solid #ccc;
        flex:1;
        text-align: center;
        padding: 4px 0;
        & + .item {
          border-left: none;
        }
      }
      &:first-child{
        background-color: #eef1f6;
        color: #1f2d3d;
        height: 40px;
        line-height: 34px;
      }
    }

  }
}
.app-container {
  &.detail{
    .detail-info{
        width: 192px;
        display: inline-block;
    }
  }
}
.btn-wrap{
  margin-top: 20px;
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  padding-right: 20px;
  transition: position .6s ease;
  background: linear-gradient(90deg,#20b6f9,#20b6f9,#2178f1 100%,#2178f1 0);
}

// table
.table-info{
  tr {
    td:nth-child(2n-1) {
      background-color: #F2F2F2;
      width: 200px;
    }
    td:nth-child(2n+2) {
      width: 400px;
    }
  }
}

// table
.table-info2{
  thead > tr{
    background-color: #F2F2F2;
  }
}

.w50 {
  width: 50%;
}

.w30 {
  width: 30%;
}

.checkitem .radio {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.red-star > label:before{
  content: '*';
  color: red;
  margin-right: 5px;
}
.blue{
  color:rgb(32,160,255);
}
.blue:hover{
  color: rgb(32,160,255);
  text-decoration: underline;
}
